body {
  margin: 0;
  overflow: hidden;
}
#screen {
  aspect-ratio: 16 / 9;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}
#game_background {
  width: 100%;
  background-image: url("Clicker Game/Assets/Crashsite Defender background.jpg");
  background-size: cover;
  aspect-ratio: 16/9;
  position: relative;
}
#game {
  width: 100%;
}
#game_elements {
  z-index: 1;
}
#game_elements img {
}
#enemy25Container {
  position: absolute;
  width: 13%;
  top: 30%;
  right: 10%;
}
#enemy50Container {
  position: absolute;
  width: 13%;
  top: 0%;
  right: 40%;
}
#enemy100Container {
  position: absolute;
  width: 13%;
  top: 55%;
  right: 90%;
}
#enemy25 {
  width: 100%;
}
#enemy50 {
  width: 100%;
}
#enemy100 {
  width: 100%;
}

#start {
  z-index: 4;
  width: 100%;
}
#game_over {
  z-index: 3;
  width: 100%;
}
#level_complete {
  z-index: 2;
  width: 100%;
}
.falling {
  animation-name: falling;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes falling {
  0% {
    scale: 50%;
    transform: translate(0, -300%);
  }
  50% {
    scale: 100%;
    transform: translate(0, 250%);
  }
  100% {
    scale: 500%;
  }
}
.flyleft {
  animation-name: flyleft;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes flyleft {
  0% {
    transform: translate(500%, 0);
  }
  50% {
  }
  100% {
    transform: translate(-700%, 0);
  }
}
.flyright {
  animation-name: flyright;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes flyright {
  0% {
    transform: translate(-500%, 0);
  }
  50% {
  }
  100% {
    transform: translate(700%, 0);
  }
}
