body {
  margin: 0;
}
#screen {
  aspect-ratio: 16 / 10;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}
#game_background {
  width: 100%;
  background-image: url("Clicker Game/Assets/Crashsite Defender background.jpg");
  background-size: cover;
  aspect-ratio: 16/9;
  position: relative;
}
#game_elements {
  z-index: 1;
  width: 100%;
}
#game_elements img {
  position: absolute;
}
#game {
  width: 100%;
}
#start {
  z-index: 4;
  width: 100%;
}
#game_over {
  z-index: 3;
  width: 100%;
}
#level_complete {
  z-index: 2;
  width: 100%;
}
